html.is-site-bettingen {
  --color-primary-50: #FDF3F3;
  --color-primary-100: #FBE6E5;
  --color-primary-200: #F8D1D0;
  --color-primary-300: #F2B1AF;
  --color-primary-400: #E98380;
  --color-primary-500: #DB5C58;
  --color-primary-600: #C73E3A;
  --color-primary-700: #A7312E;
  --color-primary-800: #8B2C29;
  --color-primary-900: #742A28;
}
