@layer components {
    .box {
        @apply relative my-30 rounded-large;
        @apply p-20 pr-30 text-gray-900 max-w-[610px] bg-green-50;
        a {
            @apply inline-link;
        }
    }

    .box__header {
        @apply flex flex-wrap items-baseline mr-30;
    }

    .box__title {
        @apply text-xl text-primary-600 mr-[6px];
    }

    .box__addon {
        @apply text-base text-gray-900;
    }

    .box__content {
        @apply mt-15 hyphens-auto text-base;
        @apply not-first:mt-20 not-last:mb-20 xl:not-first:mt-25 xl:not-last:mb-25;
    }

    .box__icon {
        @apply absolute right-15 top-15 flex items-center justify-center text-primary-600;
        width: 50px;
        height: 50px;
    }

    .box__icon > * {
        width: 100%;
        height: 100%;
        display: block;
    }

    .box__icon img,
    .box__icon svg {
        width: 100% !important;
        height: 100% !important;
    }

    .box--warning {
        @apply bg-red-50;
    }

    .box--warning .box__title {
        @apply text-red-800;
    }

    .box--warning .box__icon {
        @apply text-red-800;
    }

    .box--empfehlung {
        @apply bg-gray-50;
        margin-top: 0;
    }
    .box--empfehlung .box__title {
        @apply text-gray-900;
    }

    .box--empfehlung .box__icon {
        @apply text-gray-900;
    }
}
