@layer components {
  .footer {
    @apply bg-gray-200 py-20 lg:py-40 text-xs;

    & .footer-container {
      @apply flex flex-col gap-25;
    }

    & .links {
      @apply flex flex-wrap gap-5 font-medium;

      &.links--spaced {
        @apply gap-x-15 gap-y-10;
      }

      & .link {
        @apply border-b border-white text-blue-900;
        @apply hover:border-blue-700 hover:text-blue-700;

        &.link--tall {
          @apply text-sm font-bold;
        }
      }
    }

    & .footer-copyright {
      @apply text-sm font-bold text-blue-900;
    }
  }
}
