@layer components {
  .link {
    @apply text-blue-900;
    @apply hover:text-blue-500;
    @apply visited:text-blue-900;
    @apply active:text-blue-700;
  }

  .link-inverted {
    @apply text-white;
    @apply hover:text-white/80;
    @apply active:text-white;
  }
}

@utility inline-link {
  color: var(--color-blue-700);
  &:hover, &:hover:visited { color: var(--color-blue-900); }
  &:visited { color: var(--color-blue-700); }
  &:active { color: var(--color-blue-500); }
}
