@layer components {
  :root {
    --wiggle-degrees: 13deg;
  }

  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(var(--wiggle-degrees));
    }
    40% {
      transform: rotate(calc(-1 * var(--wiggle-degrees)));
    }
    60% {
      transform: rotate(var(--wiggle-degrees));
    }
    80% {
      transform: rotate(calc(-1 * var(--wiggle-degrees)));
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes bounce-right {
    0% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(4px);
    }
    70% {
      transform: translateX(-1px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes bounce-left {
    0% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-4px);
    }
    70% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes bounce-down {
    0% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(4px);
    }
    70% {
      transform: translateY(-1px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes bounce-up {
    0% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-4px);
    }
    70% {
      transform: translateY(1px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes bounce-ne {
    0% {
      transform: translate(0, 0);
    }
    40% {
      transform: translate(4px, -4px);
    }
    70% {
      transform: translate(-1px, 1px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes mail-zoom {
    0% {
      transform: scale(1);
    }
    35% {
      transform: scale(1.08);
    }
    70% {
      transform: scale(0.96);
    }
    100% {
      transform: scale(1);
    }
  }

  svg[data-symbol="arrow-east"],
  svg[data-symbol="arrow-north-east"],
  svg[data-symbol="arrow-west"],
  svg[data-symbol="arrow-south"],
  svg[data-symbol="play"],
  svg[data-symbol="mail"],
  svg[data-symbol="send-mail"],
  svg[data-symbol="caret"],
  svg[data-symbol="phone"],
  svg[data-symbol="location"] {
    @apply transition-[transform] duration-1000 ease-out;
  }

  a:hover,
  button:hover,
  .button:hover,
  .link:hover {
    & svg[data-symbol="arrow-east"],
    & svg[data-symbol="send-mail"] {
      animation: bounce-right 0.35s ease-out;
    }

    & svg[data-symbol="arrow-west"] {
      animation: bounce-left 0.35s ease-out;
    }

    & svg[data-symbol="arrow-south"] {
      animation: bounce-down 0.35s ease-out;
    }

    & svg[data-symbol="arrow-north-east"] {
      animation: bounce-ne 0.35s ease-out;
    }

    & svg[data-symbol="caret"] {
      animation: bounce-down 0.35s ease-out;
    }

    & svg[data-symbol="mail"] {
      animation: mail-zoom 0.35s ease-out;
    }

    & svg[data-symbol="play"],
    & svg[data-symbol="location"] {
      animation: bounce-up 0.35s ease-out;
    }

    & svg[data-symbol="phone"] {
      animation: wiggle 0.4s ease-in-out;
    }
  }

  a:active,
  button:active,
  .button:active,
  .link:active {
    & svg[data-symbol="arrow-east"],
    & svg[data-symbol="send-mail"] {
      transform: translateX(5px);
    }

    & svg[data-symbol="arrow-west"] {
      transform: translateX(-5px);
    }

    & svg[data-symbol="arrow-north-east"] {
      transform: translate(4px, -4px);
    }

    & svg[data-symbol="arrow-south"],
    & svg[data-symbol="caret"] {
      transform: translateY(4px);
    }
  }
}
