@layer components {
  details figure > .table {
    tbody {
      @apply border-b-0;
    }

    &:has(~ figcaption) tbody {
      @apply border-b;
    }
  }

  .table {
    @apply w-full border-collapse;
    th,
    td {
      @apply p-5;
      @apply text-left;
    }
    thead {
      @apply border-b border-b-body text-base text-primary-600;
      th {
        @apply pb-5;
      }
    }

    tbody {
      td,
      th {
        @apply p-5;
      }
      tr {
        @apply border-b;
      }
    }
    td,
    th {
      @apply first:pl-0;
    }

    caption {
      @apply text-left font-bold mb-10 text-xl;
    }

    a {
      @apply inline-link;
    }

    &.has-mobile-style {
      thead { @apply mobile-only:hidden; }
      tbody th,
      tbody tr,
      tbody td { @apply mobile-only:block; }
      td, th { @apply mobile-only:px-0; }
      tbody tr { @apply mobile-only:border-t; }

      td[data-head-label]:before {
        @apply mobile-only:content-[attr(data-head-label)] mobile-only:block mobile-only:text-xs mobile-only:text-green-600 mobile-only:font-bold mobile-only:mb-5;
      }

      td p { @apply not-last:mb-10; }

      &.table--header-only {
        @apply mobile-only:border-t mobile-only:border-b-0 mobile-only:border-body;
        thead {
          @apply mobile-only:block mobile-only:border-b-0;
        }
        thead tr,
        thead th {
          @apply mobile-only:block;
        }
        tbody {
          @apply mobile-only:hidden;
        }
        caption {
          @apply mobile-only:block mobile-only:mb-0 mobile-only:pb-5 mobile-only:text-base mobile-only:text-primary-600;
        }
      }
    }
  }

  figure > .table ~ figcaption {
    @apply italic mt-5;
  }
  .table--header-only tbody {
    display: none;
  }
}
